@page
@model EarlyBirdnBird.Pages.Customer.ReviewSubmitModel
@{
    ViewData["Title"] = "Send Message";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Body" class="form-label"></label>
                <textarea asp-for="Input.Body" class="form-control" /></textarea>
                <span asp-validation-for="Input.Body" class="text-danger"></span>
            </div>
            </br>
            <div class="form-group">
                <input type="submit" value="Send" asp-route-id="@Model.Rentals.Id" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>