@page
@model EarlyBirdnBird.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="container my-5">
    <div class="text-center mb-4">
        <h1 class="display-5">@ViewData["Title"]</h1>
        <p class="lead">Learn more about our capstone project and the team behind it.</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Our Team – The Early Birds</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Zack Walker - Developer, Representative</li>
                        <li class="list-group-item">Mylee Anderson - Developer, Project Manager</li>
                        <li class="list-group-item">Robert Milliner - Developer, Representative</li>
                        <li class="list-group-item">Kyle Westbroek - Developer, Project Manager</li>
                        <li class="list-group-item">Kaden Jessee - Developer, Version Control Master</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Project Overview</h3>
                    <p>This project was conceptualized and developed by a team of five dedicated students. Through a systematic approach, we engaged in:</p>
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item">Requirement gathering</li>
                        <li class="list-group-item">Client interviews</li>
                        <li class="list-group-item">Iterative prototyping</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Technology Stack</h3>
                    <p>Developed using <strong>ASP.NET 8.0</strong> and styled with <strong>Bootstrap 5.3.3</strong>, our project showcases modern web technologies and responsive design principles.</p>
                </div>
            </div>
        </div>
    </div>
</div>
